header {
    border: black;
    border-width:2px;
    border-style:solid;
    
    margin:50px;
    text-align:center;
}
a{
    margin: 10px;
}

body {
  background: white;
  
}

h2{
  color: d;
  line-height:1.5; 
  text-decoration:overline;
  font-family:cursive;
    margin-top: 60px;
}

h3{
  color: black;
  font-family: times;
  line-height: 1.5;
  margin-bottom: 200px;
  clear: both;
  font-size: 30px;
}
h1 {
  font-weight: bold;
  text-decoration: underline;
  font-family: times;
  margin-top: 60px;
}

img {
    width: 55%;
    margin-bottom: 100px;
}
p{
    display: inline;
}
p.quote {
   font-weight: bold;
  font-family: cursive;
  margin-top: 1px;
  font-size: 90px;
  color: ;
  margin-top: 20px;
    margin-bottom: 100px;

“Pin by Lissuh Warnock on Waterslide: American Flag Art.” Pinterest, www.pinterest.com/pin/650840583630642765/
    
    https://steemit.com/steemstem/@katerinaramm/pi-p-is-considered-the-most-beautiful-number-and-is-celebrated-every-today-march-14th-here-s-why
